<nz-layout class="editor-layout">
  <nz-header class="header">
    <i nz-icon class="btn" nzType="save" title="保存"></i>
    <i nz-icon class="btn" nzType="export" title="导出"></i>
    <nz-divider nzType="vertical"></nz-divider>
    <i nz-icon class="btn" nzType="undo" title="撤销"></i>
    <i nz-icon class="btn" nzType="redo" title="重做"></i>
    <nz-divider nzType="vertical"></nz-divider>
    <i nz-icon class="btn" nzType="scissor" title="剪切"></i>
    <i nz-icon class="btn" nzType="copy" title="复制"></i>
    <i nz-icon class="btn" nzType="snippets" title="粘贴"></i>
    <i nz-icon class="btn" nzType="delete" title="删除"></i>
    <nz-divider nzType="vertical"></nz-divider>
    <i nz-icon class="btn" nzType="align-left" title="左对齐"></i>
    <i nz-icon class="btn" nzType="align-center" title="居中对齐"></i>
    <i nz-icon class="btn" nzType="align-right" title="右对齐"></i>
    <nz-divider nzType="vertical"></nz-divider>
    <i nz-icon class="btn" nzType="vertical-align-top" title="上对齐"></i>
    <i nz-icon class="btn" nzType="vertical-align-middle" title="居中对齐"></i>
    <i nz-icon class="btn" nzType="vertical-align-bottom" title="下对齐"></i>
    <nz-divider nzType="vertical"></nz-divider>
    <i nz-icon class="btn" nzType="vertical-right" title="置顶" [nzRotate]="90"></i>
    <i nz-icon class="btn" nzType="up" title="上移一层"></i>
    <i nz-icon class="btn" nzType="down" title="下移一层"></i>
    <i nz-icon class="btn" nzType="vertical-left" title="置底" [nzRotate]="90"></i>
    <nz-divider nzType="vertical"></nz-divider>
    <i nz-icon class="btn" nzType="group" title="组合"></i>
    <i nz-icon class="btn" nzType="ungroup" title="解除组合"></i>
  </nz-header>
  <nz-layout>
    <nz-sider>
      <nz-collapse>
        <nz-collapse-panel *ngFor="let group of components"
                           [nzHeader]="group.name" nzActive>
          <img class="component" *ngFor="let c of group.components" (click)="draw(c)"
               [title]="c.name"
               [src]="c.icon">
        </nz-collapse-panel>
      </nz-collapse>
    </nz-sider>
    <nz-content id="canvas"></nz-content>
    <nz-sider>
      属性配置/事件处理/数据绑定
      <nz-table>
        <thead>
        <tr>
          <th>属性</th>
          <th>值</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of currentComponent?.properties">
          <td>{{data.label}}</td>
          <td>{{data.name}}</td>
        </tr>
        </tbody>
      </nz-table>

    </nz-sider>
  </nz-layout>
<!--  <nz-footer>footer</nz-footer>-->
</nz-layout>
